body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

#navbar {
    background-color: rgb(255, 255, 255); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    display: flex;
}
  
/* Style the navbar links */
#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    color: grey;
}

.flex-child {
    flex: 1;
    margin: 10px;
}

.flex-child:first-child {
    margin-right: 20px;
}

#name {
    padding: 15px;
    padding-left: 40px;
}

#links {
    padding-right: 50px;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    font-size: 36pt;
}

#face {
    width: 100%;
}

#intro h1 {
    color: orange;
    font-size: 48pt;
}

.divider {
    background: rgb(186, 186, 186);
    width: 80%;
    height: 2px;
    margin-left:10%;
    margin-right: 10%;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.project-name h2{
    font-size: 36pt;
}

.project-name p{
    font-size: 18pt;
    color: grey;
}

.project-description p{
    font-size: 24pt;
}

#rl-scoreboard-ss {
    width: 100%;
    padding-bottom: 50px;
}

.contact-nav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

/* Style the navbar links */
.contact-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
.contact-nav a:hover {
    color: grey;
}

.content a {
    text-decoration: none;
    color: black;
}

#rl-scoreboard-description {
    padding-top: 50px;
}

#rl-scoreboard-details {
    display: flex;
    flex-wrap: wrap;
}

.subheading {
    color: grey;
}

#rl-scoreboard-date {
    width: 30%;
    flex: auto;
    text-align: right;
}

#rl-scoreboard-technologies-used {
    width: 70%;
    flex: auto;
}

.description {
    margin-bottom: 0;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24pt;
  }
  
  .active {
    background-color: #ffffff;
    color: rgb(177, 177, 177);
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
    color: rgb(172, 172, 172);
  }
  
  .dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 800px) {
    #rl-scoreboard-details {
      flex-direction: column;
    }

    #rl-scoreboard-technologies-used {
        text-align: center;
        width: 100%;
    }

    #rl-scoreboard-date {
        text-align: center;
        width: 100%;
    }

    .project {
        flex-direction: column;
    }

    #intro {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  @media screen and (max-width: 1500px) {
    #intro {
        flex-direction: column;
    }

    #face {
        max-width: 500px;
        max-height: 500px;
        margin: auto;
    }
    h1, h2, h3, h4 {
        text-align: center;
    }
  }